.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.step-container {
  display: grid;
  grid-auto-flow: column;
}
.step-item {
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 200%
}
.step-item-complete{
  background-color: blue;
}
.step-item-in-progress{
  background-color: purple;
}
.step-item-not-started{
  background-color: rgb(200, 25, 25);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
